            #holiday {
              background: #fafafa;
            }

            .banner {
              width: 100%;
              height: 3.75rem;
              position: relative;
              overflow: hidden;
            }

            .banner li {
              width: 100%;
              height: 100%;
            }

            .banner li img {
              width: 100%;
              height: 100%;
            }

            #holiday .swiper-pagination0 {
              text-align: right;
              padding-right: 0.5rem;
              box-sizing: border-box;
              position: absolute;
              bottom: 0.1rem;
              z-index: 2;
            }

            #holiday .swiper-pagination-bullet-active {
              background: #fff;
              opacity: 1;
            }

            .swiper-pagination-bullet {
              background: #fff;
              opacity: 0.3;
            }

            .go_back {
              position: fixed;
              right: 0.2rem;
              bottom: 0.4rem;
            }

            .go_back img {
              width: 0.88rem;
              height: 0.88rem;
            }

            .quarter {
              width: 100%;
              background: #fff;
              margin-top: 0.2rem;
              padding: 0 0.2rem;
            }

            .title {
              height: 1.4rem;
              text-align: center;
              font-size: 14px;
              color: #999;
              overflow: hidden;
            }

            .title h2 {
              margin-top: 0.3rem;
              font-size: 18px;
              color: #333;
              height: 0.62rem;
              line-height: 0.62rem;
            }

            .quarter ul {
              width: 7.08rem;
            }

            .hol2_nav {
              margin-top: 0.2rem;
              background: #fff;
              padding: 0.2rem;
            }

            .hol2_nav li {
              float: left;
              width: 1.7rem;
              height: 0.58rem;
              border-radius: 0.1rem;
              border: 0.01rem solid #ff9b1a;
              text-align: center;
              line-height: 0.58rem;
              margin-right: 0.09rem;
              margin-top: 0.1rem;
            }

            .hol2_nav li:nth-of-type(4n) {
              margin-right: 0;
            }

            .hol2_nav .on {
              background: #ff9b1a;
            }

            .hol2_nav .on a {
              color: #fff;
            }

            .quarter ul li {
              float: left;
              width: 1.68rem;
              height: 1.68rem;
              margin-right: 0.12rem;
              margin-bottom: 0.12rem;
              position: relative;
            }

            .quarter_img {
              display: inline-block;
              width: 1.68rem;
              height: 1.68rem;
            }

            .quarter_img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .quarter ul li:nth-of-type(4) {
              margin-right: 0
            }

            .quarter ul li:nth-of-type(8) {
              margin-right: 0
            }

            .quarter_span {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 0.42rem;
              background: rgba(0, 0, 0, 0.5);
              display: inline-block;
              color: #fff;
              text-align: center;
              font-size: 12px;
              line-height: 0.42rem;
            }

            .list {
              margin-top: 0.2rem;
              background: #fff;
              /*height: 9.97rem;*/
            }

            .list_l {
              float: left;
              width: 1.8rem;
            }

            .list_l li {
              width: 1.8rem;
              height: 1.06rem;
              text-align: center;
              font-size: 14px;
              color: #999;
              line-height: 1.06rem;
              background: #fafafa;
              position: relative;
            }

            .list_l li a {
              display: inline-block;
              height: 100%;
              width: 1.3rem;
              border-bottom: 0.01rem solid #ddd;
            }

            .list_l li:last-child a {
              border-bottom: none;
            }

            .list_l .on {
              color: #333;
              font-weight: bold;
              background: #fff;
            }

            .list_l li span {
              width: 0.06rem;
              height: 100%;
              display: inline-block;
              position: absolute;
              background: #47aedf;
              left: 0;
              top: 0;
            }

            .list_r {
              float: right;
              width: 5.7rem;
              padding-left: 0.2rem;
            }

            .enent {
              width: 5.5rem;
              height: 4.65rem;
              margin-top: 0.2rem;
              position: relative;
              z-index: 10;
            }

            .enent_img {
              width: 5.3rem;
              height: 2.62rem;
              display: inline-block;
            }

            .enent_img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .hotlist_swiper li {
              width: 2.7rem;
              height: 1.8rem;
              box-shadow: 0.02rem 0.02rem 0.1rem rgba(152, 152, 152, 0.2), -0.02rem -0.02rem 0.06rem rgba(152, 152, 152, 0.2);
              margin-top: 0.2rem;
              margin-right: 0.2rem;
              text-align: center;
              margin-bottom: 0.5rem;
            }
            /*.hotlist_swiper li:last-child {
  box-shadow: none;
}*/

            .hotlist_swiper li p {
              margin-top: 0.2rem;
              text-align: center;
              font-size: 14px;
              color: #333;
            }

            .hotlist_swiper li p i {
              color: #999;
            }

            .hotline_status {
              font-size: 15px;
              display: block;
              margin: 0.1rem auto;
            }

            .hotline_btn {
              width: 1.58rem;
              height: 0.42rem;
              background: #47aedf;
              text-align: center;
              color: #fff;
              line-height: 0.42rem;
              display: inline-block;
              border-radius: 0.1rem;
            }

            .event2 {
              margin-top: 0.2rem;
            }

            .event2_ft {
              height: 0.8rem;
              position: relative;
            }

            .event2_ft p {
              margin-top: 0.1rem;
              font-size: 15px;
            }

            .event2_ft em {
              font-size: 15px;
              color: #d4403f;
            }

            .event2_status {
              position: absolute;
              right: 0;
              bottom: 0rem;
            }

            .event2_status img {
              width: 0.68rem;
              height: 0.25rem;
            }

            .enent2_img {
              width: 7.1rem;
              height: 3.22rem;
              display: block;
            }

            .enent2_img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            @media screen and (max-width:321px) {
              .banner_ft .banner_ft_l>p {
                font-size: 14px;
              }
              .banner_ft_r h3 {
                font-size: 16px;
              }
              .swiper-container1 .swiperP span {
                margin-right: 0;
              }
              .hotlist_swiper li p {
                font-size: 12px;
              }
              .hotline_status {
                font-size: 12px;
              }
              .hotline_btn {
                font-size: 12px;
              }
              .food_banner p {
                font-size: 14px;
              }
              .menu li a {
                padding-top: 0.05rem;
              }
              .menu li span {
                bottom: -0.01rem;
              }
              .list_l li a {
                font-size: 12px;
              }
              .quarter_span {
                font-size: 10px;
              }
              .title {
                margin-bottom: 0.14rem;
              }
            }
