/* information start */

#addContacts {
  color: #eee;
  width: 100%;
}

.addContacts_ul {
  width: 100%;
}

.addContacts_ul li {
  float: left;
  height: 0.9rem;
  width: 100%;
  font-size: 16px;
  border-bottom: 0.01rem solid #ddd;
}

.addContacts_ul li span {
  float: left;
  width: 30%;
  height: 100%;
  display: inline-block;
  color: #333;
  line-height: 0.9rem;
  text-indent: 0.4rem;
}

.addContacts_ul li input {
  float: right;
  width: 70%;
  display: inline-block;
  height: 0.6rem;
  color: #333;
  margin-top: 0.15rem;
  line-height: 0.6rem;
  font-size: 15px;
}

.addContacts_ul li input::placeholder {
  color: #999;
  font-size: 15px;
}

.add_btn {
  width: 6.5rem;
  height: 0.8rem;
  background: #47aedf;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 0.8rem;
  border-radius: 0.05rem;
  position: fixed;
  bottom: 0.4rem;
  left: 0.5rem;
}

.common_btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  width: 1.2rem;
  font-size: 16px;
}

.com_back_btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 0.9rem;
  display: inline-block
}

.contactList_add {
  width: 100%;
  height: 0.9rem;
  background: #47aedf;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 0.9rem;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
}

.contactList_ul li {
  float: left;
  height: 1.86rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  width: 100%;
  position: relative;
}

.contactList_ul li h3 {
  width: 100%;
  height: 0.6rem;
  text-indent: 0.5rem;
  font-size: 18px;
  line-height: 0.6rem;
}

.contactList_ul li p {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-indent: 0.5rem;
  color: #999;
  font-size: 14px;
}

.contactList_edit {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  width: 0.33rem;
  height: 0.33rem;
  display: inline-block;
}

.contactList_edit img {
  width: 100%;
  height: 100%;
}

.check_input {
  width: 0.55rem;
  height: 0.55rem;
  display: inline-block;
  background: url('/phone/public/new/images/concatlist_un.png') no-repeat;
  background-size: 0.55rem 0.55rem;
  position: absolute;
  right: 0.2rem;
  top: 0.6rem;
}

.contactList_ul li .check_input_on {
  background: url('/phone/public/new/images/contact_check_on.png') no-repeat;
  background-size: 0.55rem 0.55rem;
}

.cash {
  position: fixed;
  top: 4.5rem;
  left: 0.75rem;
  background: #fff;
  display: block;
  width: 6rem;
  height: 3rem;
}

.cash_main {
  height: 2.1rem;
  width: 100%;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 2.1rem;
  border-bottom: 0.01rem solid #ddd;
}

.cash_ft {
  float: left;
  height: 0.9rem;
  width: 50%;
  text-align: center;
  line-height: 0.9rem;
  color: #333;
}

.cash_confirm {
  border-left: 0.01rem solid #ddd;
  color: red;
}
.remark{
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  border: 0.01rem solid #ddd;
  padding: 0.1rem;
}
.remark_event{
  margin-top: 0.3rem;
  background: #fff;
  padding:0.2rem; 
}
.remark_event span{
      text-align: left;
      color: #999;
      font-size: 16px;
      height: 0.6rem;
      margin-left: 0.2rem;
      display: block;
}
/* information end */


/* book */

#book {
  width: 100%;
  background: #f3f3f3;
}

.book_title {
  width: 100%;
  height: 2.04rem;
  padding: 0.2rem;
  background: #fff;
}

.book_title h2 {
  height: 0.5rem;
  line-height: 0.5rem;
  color: #333;
  font-size: 16px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book_title p {
  color: #999;
  font-size: 14px;
  margin-top: 0.14rem;
}

.book_info {
  margin-top: 0.2rem;
  background: #fff;
}

.subtitle {
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: left;
  padding-left: 0.2rem;
  color: #333;
  font-size: 16px;
  margin-left: 0.2rem;
}

.book_travel {
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  border-bottom: 0.01rem solid #ddd;
}

.book_travel h3 {
  color: #999;
  font-size: 14px;
}

.book_travel .book_more_btn {
  width: 2.32rem;
  height: 0.81rem;
  line-height: 0.54rem;
  text-align: center;
  color: #333;
  border-radius: 0.08rem;
  border: 0.01rem solid #ddd;
  display: block;
  margin-top: 0.2rem;
  vertical-align: middle;
}

.book_travel .book_more_btn img {
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.book_info .contactList_ul li {
  border-bottom: 0.01rem solid #ddd;
}

.subtitle01 {
  height: 0.9rem;
  color: #999;
  font-size: 15px;
  padding-left: 0.6rem;
  line-height: 0.9rem;
  background: url('/phone/public/new/images/book_add.png') no-repeat 0.2rem center;
  background-size: 0.33rem 0.33rem;
  border-bottom: 0.01rem solid #ddd;
}

.subtitle01:active {
  background: url('/phone/public/new/images/book_add_h.png') no-repeat 0.2rem center;
  background-size: 0.33rem 0.33rem;
}

.book_event {
  margin-top: 0.2rem;
  background: #fff;
}

.subtitle02 {
  margin-left: 0.2rem;
  height: 0.9rem;
  text-align: left;
  padding-left: 0.2rem;
  border-bottom: 0.01rem solid #ddd;
  color: #999;
  font-size: 16px;
  line-height: 0.9rem;
}

.red {
  color: red;
}

.event_r {
  position: absolute;
  right: 0.2rem;
  background: url('/phone/public/new/images/book_arrow.png') no-repeat right center;
  background-size: 0.13rem 0.23rem;
  height: 0.9rem;
  line-height: 0.9rem;
  width: 1rem;
  display: inline-block;
}

.subtitle03 {
  margin-left: 0.2rem;
  padding-left: 0.2rem;
  height: 0.9rem;
  text-align: left;
  line-height: 0.9rem;
  border-bottom: 0.01rem solid #ddd;
  color: #333;
  font-size: 16px;
  position: relative;
}

.subtitle03 .event_l img {
  width: 0.44rem;
  height: 0.35rem;
}

.alipay {
  width: 0.41rem;
  height: 0.41rem;
  position: relative;
  top: -0.06rem;
}

.event_radio {
  position: absolute;
  right: 0;
  top: 0;
  background: url('/phone/public/new/images/book_radio.png') no-repeat center center;
  background-size: 0.4rem 0.4rem;
  width: 0.9rem;
  height: 0.9rem;
  display: block;
}

.subtitle03 .event_radio_on {
  position: absolute;
  right: 0;
  top: 0;
  background: url('/phone/public/new/images/book_radio_on.png') no-repeat center center;
  background-size: 0.4rem 0.4rem;
  width: 0.9rem;
  height: 0.9rem;
  display: block;
}

.book_ft {
  font-size: 13px;
  color: #999;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
}

.book_ft img {
  width: 0.31rem;
  height: 0.31rem;
}

.book_submit {
  height: 0.9rem;
  background: #6d6d6d;
  padding-left: 0.2rem;
  color: #fff;
  font-size: 16px;
  line-height: 0.9rem;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.book_submit span {
  width: 2.42rem;
  height: 0.9rem;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: #47aedf;
}


/*book 页面弹窗 moda start*/

.redBag {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #f3f3f3;
  text-align: center;
}

.redBag_bg {
  width: 6.99rem;
  height: 2rem;
}

.redBag_li {
  width: 100%;
  padding: 0.25rem;
  position: relative;
}

.book_red_on {
  position: absolute;
  right: 0.35rem;
  top: 0.25rem;
}

.book_red_on img {
  width: 0.3rem;
  height: 0.2rem;
}

.redBag_time {
  font-size: 14px;
  position: absolute;
  right: 0.34rem;
  bottom: 0.36rem;
  color: #999;
}

.book_bg {
  width: 4.45rem;
  height: 3.36rem;
  margin: 2rem auto;
  display: block;
}


/*book 页面弹窗 moda end*/

.fr {
  float: right;
  margin-right: 0.2rem;
}

.place_P {
  background: url('/phone/public/new/images/place_p.png') no-repeat left center;
  background-size: 0.23rem 0.28rem;
  padding-left: 0.3rem;
}

.air_title {
  font-size: 16px;
  padding: 0.2rem;
  padding-bottom: 0.3rem;
  background: #fff;
}

.book_air {
  font-size: 14px;
  width: 7.1rem;
  height: 1.98rem;
  background: #f3f3f3;
  padding: 0.2rem;
  margin-top: 0.4rem;
}

.air_time {
  height: 0.9rem;
  text-align: center;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.book_air .air_time:nth-of-type(1) {
  margin-left: 1.4rem;
}

.air_time img {
  width: 1.58rem;
  height: 0.12rem;
  vertical-align: bottom;
}

.air_time span {
  display: table;
}

.air_time span:first-child {
  font-size: 18px;
}

.blue_price {
  position: absolute;
  color: #fff;
  left: 1.5rem;
  top: 0.3rem;
  font-size: 30px;
}

.blue_price i {
  font-size: 44px;
}

.blue_stat {
  color: #999;
  font-size: 14px;
  position: absolute;
  left: 0.8rem;
  bottom: 0.36rem;
}


/* book 门票类 start */


/* book 门票类 end */

@media screen and (max-width:321px) {
  .book_title h2 {
    font-size: 14px;
  }
  .book_title p {
    font-size: 12px;
  }
  .contactList_ul li h3 {
    font-size: 16px;
  }
  .contactList_ul li p {
    font-size: 12px;
  }
  .subtitle {
    font-size: 14px;
  }
  .subtitle02 {
    font-size: 14px;
  }
  .subtitle03 {
    font-size: 14px;
  }
  .book_submit span {
    font-size: 14px;
  }
  .addContacts_ul li {
    font-size: 14px;
  }
  .common_back {
    font-size: 16px;
  }
}
