#note {
  background: #f3f3f3;
}

#note_con {
  background: #f3f3f3;
}

#mynote {
  background: #f3f3f3;
}

#note_other {
  background: #f3f3f3;
}

#note_other .my_banner .header {
  width: 1.6rem;
  height: 1.6rem;
}

.reward_list {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reward_img {
  margin: 0.1rem;
}

.reward_img img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.comment_con {
  margin-top: 0.1rem;
}

.commentList li {
  margin-bottom: 0.2rem;
  background: #fff;
  padding: 0.2rem;
}

.commentList .comment_ft {
  padding-top: 0.2rem;
  position: relative;
}

.note_a {
  position: absolute;
  right: 0.2rem;
  color: #c9caca;
  top: center;
  display: inline-block;
}

.note_a img {
  width: 0.44rem;
  height: 0.44rem;
}

.comment_time {
  font-size: 24px;
  color: #c9caca;
}

.comment_time em {
  font-size: 10px;
}

.comment_content {
  padding: 0.2rem 0;
  border-bottom: 0.01rem solid #eee;
}

.my_banner {
  width: 100%;
  height: 3.4rem;
  background: url(../assets/images/mynote_bg.jpg) no-repeat left center;
  background-size: 7.5rem 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.my_banner .header {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin-bottom: 0.16rem;
}

.focusBtn img {
  margin: 0.1rem 0;
  width: 1.2rem;
  height: 0.52rem;
}

.banner_ft {
  font-size: 12px;
}

.note_ft {
  position: absolute;
  right: 0.3rem;
  bottom: 0.2rem;
  color: #c9caca;
}

.note_ft .like img {
  width: 0.16rem;
  height: 0.15rem;
}

.note_ft .see img {
  width: 0.22rem;
  height: 0.14rem;
}

.my_banner span:first-child {
  margin-bottom: 0.14rem;
}

.mynote_nav {
  width: 100%;
  height: 0.88rem;
}

.mynote_nav span img {
  width: 0.3rem;
  height: 0.26rem;
  vertical-align: middle;
  position: relative;
  top: -0.05rem;
  left: -0.1rem;
}

.posr {
  position: absolute;
  right: 0;
  top: 0.2rem;
  color: #c9caca;
  font-size: 12px;
}

.reply_btn {
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  width: 0.88rem;
  height: 0.52rem;
  text-align: center;
  color: #ffae00;
  border-radius: 0.1rem;
  border: 0.01rem solid #ffae00;
  display: block;
  line-height: 0.52rem;
}

.li_origin {
  margin-top: 0.2rem;
  color: #c9caca;
  font-size: 12px;
}

.mynote_nav span em {
  color: #ff0000;
  position: relative;
  top: -0.1rem;
  right: -0.1rem;
  font-size: 12px;
}

.mynote_nav span {
  background: #fff;
  width: 50%;
  height: 0.88rem;
  text-align: center;
  display: inline-block;
  line-height: 0.88rem;
  float: left;
  font-size: 15px;
  border-bottom: 0.01rem solid #eee;
}

.noteList {
  margin-bottom: 0.88rem;
}

.noteList li {
  float: left;
  width: 100%;
  height: 4.6rem;
  background: #fff;
  padding: 0.2rem;
  margin-top: 0.2rem;
  position: relative;
}

.noteList li a {
  width: 100%;
  height: 3.2rem;
  display: block;
}

.noteList li a img {
  width: 100%;
  height: 3.2rem;
  object-fit: cover;
}

.note_title {
  margin-top: 0.1rem;
  color: #595757;
  font-size: 15px;
}

.note_time {
  margin-top: 0.1rem;
  font-size: 10px;
  color: #c9caca;
}

.mynote_del {
  position: absolute;
  right: 0.3rem;
  bottom: 0.2rem;
}

.mynote_btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.88rem;
  text-align: center;
  background: #ffae00;
  color: #fff;
  line-height: 0.88rem;
  font-size: 15px;
}

.mynote_del img {
  width: 0.44rem;
  height: 0.44rem;
}

.mynote_nav .on {
  background: #ffae00;
  color: #fff;
}

.mynote_nav .on2 {
  border-bottom: 0.01rem solid #ffae00;
}

.banner {
  height: 3.2rem;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.banner_img {
  width: 7.5rem;
  height: 3.2rem;
  object-fit: cover;
}

.banner .add img {
  width: 0.64rem;
  height: 0.64rem;
}

.titleInput {
  width: 100%;
  text-indent: 0.2rem;
  font-size: 14px;
  height: 0.8rem;
  /*line-height: 0.8rem;*/
}

.foot {
  padding-top: 1rem;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 8.34rem;
}

.ft_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  display: inline-block;
  height: 0.88rem;
  width: 0.01rem;
  border: 0.01rem solid #ddd;
  margin: 0.5rem;
}

.btn_img {
  display: inline-block;
}

.btn_img img {
  width: 1.16rem;
  height: 1.18rem;
}

.ft_txt {
  margin-top: 0.8rem;
  text-align: left;
  width: 5.4rem;
  font-size: 14px;
  color: #999;
  line-height: 0.46rem;
}

.ft_txt_radio img {
  width: 0.32rem;
  height: 0.32rem;
}

.instructions_btn {
  margin: 0.5rem auto;
  display: block;
  width: 2.5rem;
  height: 0.52rem;
  border-radius: 0.12rem;
  text-align: center;
  line-height: 0.52rem;
  border: solid 0.01rem rgba(255, 174, 0, 1);
  color: #ffae00;
}

.ft_menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.ft_menu span {
  height: 0.88rem;
  width: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  float: left;
  line-height: 0.88rem;
}

.ft_menu3 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.ft_menu3 span {
  height: 0.88rem;
  width: 43%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  float: left;
  line-height: 0.88rem;
}

.ft_menu3 .gohome {
  background: #42baef;
  display: inline-block;
  width: 14%;
  height: 0.88rem;
  float: left;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.05rem;
  font-size: 12px;
}

.ft_menu3 .gohome img {
  width: 0.5rem;
  height: 0.41rem;
}

.ft_menu3 span:nth-of-type(1) {
  background: #ffae00;
}

.ft_menu3 span:nth-of-type(2) {
  background: #ff5d8c;
}

.ft_menu3 span img {
  width: 0.47rem;
  height: 0.44rem;
}

.ft_menu2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.ft_menu2 span {
  height: 0.88rem;
  width: 33.3%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  float: left;
  line-height: 0.88rem;
}

.blue {
  color: #42baef;
}

.ft_menu span:first-child {
  background: #42baef;
}

.ft_menu span:nth-of-type(2) {
  background: #ffae00;
}

.ft_menu2 span:first-child {
  background: #42baef;
}

.ft_menu2 span:nth-of-type(2) {
  background: #ffae00;
}

.ft_menu2 span:last-child {
  background: #ff6c00;
}

.ft_menu span img {
  width: 0.47rem;
  height: 0.44rem;
}

.edit {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.edit textarea {
  width: 100%;
  height: 100%;
  padding: 0.6rem 0.2rem;
  font-size: 14px;
}

.list {
  width: 100%;
}

.list img {
  width: 100%;
  object-fit: cover;
}

.list input {
  width: 100%;
  color: #898989;
  font-size: 14px;
}

.list p {
  width: 100%;
  color: #898989;
  font-size: 14px;
}

.ev_ft {
  text-align: right;
  margin-top: 0.2rem;
}

.ev_ft span {
  margin: 0 0.08rem;
  display: inline-block;
}

.ev_ft img {
  width: 0.44rem;
  height: 0.44rem;
}

.event {
  background: #fff;
  margin-bottom: 0.1rem;
}

.event2 {
  padding: 0.2rem;
  background: #fff;
  margin-bottom: 0.1rem;
}

.bannerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.2rem;
}

#find {
  background: #f3f3f3;
}

.index_banner {
  height: 3.7rem;
  background: #fff;
  padding-top: 0.2rem;
}

.index_banner .swiper-wrapper {
  height: 3.02rem;
}

.index_banner .swiper-slide {
  left: 0.34rem;
}

.index_banner .swiper-slide a {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 0.2rem;
  overflow: hidden;
}

.index_banner .swiper-slide p {
  height: 0.33rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 0.2rem 0.2rem;
}

.index_banner .swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.index_banner .swiper-pagination {
  text-align: center;
  position: relative;
}

.index_banner .swiper-pagination .swiper-pagination-bullet {
  background: rgba(218, 218, 218, 1);
  opacity: 1;
  margin: 0 0.06rem;
}

.index_banner .swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(144, 144, 144, 1);
}

.findContain {
  padding: 0.2rem;
}

.mynote {
  float: left;
  display: block;
}

.mynote:last-child {
  margin-left: 0.02rem;
}

.mynote img {
  width: 3.54rem;
  height: 1.5rem;
}

.note_ul {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note_ul li {
  background: #fff;
  height: 1.76rem;
  width: 100%;
  margin-bottom: 0.1rem;
  border-radius: 0.1rem;
  padding: 0.2rem;
}

.li_l {
  float: left;
  display: inline-block;
}

.li_l img {
  width: 2.51rem;
  height: 1.37rem;
  object-fit: cover;
}

.li_r {
  float: right;
  width: 4.1rem;
  display: inline-block;
}

.li_r p {
  font-size: 15px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li_r_ft {
  margin-top: 0.2rem;
  color: #c9caca;
  font-size: 12px;
}

.li_ft2 .name {
  color: #898989;
  width: 1.8rem;
  /* overflow: hidden; */
  display: inline-block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.leaderpic a {
  display: inline-block;
}

.leaderpic {
  width: 0.72rem;
  height: 0.72rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.li_r_ft .like {
  font-size: 12px;
}

.li_r_ft .like img {
  width: 0.16rem;
  height: 0.15rem;
}

.li_r_ft .see img {
  width: 0.2rem;
  height: 0.14rem;
}

.fl {
  float: left;
}

.li_ft2 {
  width: 3.3rem;
  padding-left: 0.1rem;
}

.li_ft2 span:last-child {
  float: right;
}

.add_fixed {
  position: fixed;
  right: 0.4rem;
  bottom: 1.4rem;
}

.add_fixed img {
  width: 0.98rem;
  height: 0.98rem;
}

.con_banner {
  height: 4.3rem;
}

.con_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con_title {
  font-size: 21px;
  color: #595757;
  margin-bottom: 0.2rem;
  font-weight: bolder;
}

.con_list {
  padding: 0.2rem;
  color: #898989;
  background: #fff;
  position: relative;
}

.con_list li {
  margin: 0.3rem 0;
}

.con_list img {
  width: 100%;
  object-fit: cover;
}

.author {
  height: 0.98rem;
  width: 100%;
  margin-bottom: 0.2rem;
}

.author a {
  display: inline-block;
}

.author_img img {
  width: 0.98rem;
  height: 0.98rem;
  object-fit: cover;
  border-radius: 50%;
}

.author_name {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  width: 4rem;
  font-size: 14px;
  color: #595757;
}

.author p:last-child {
  margin-left: 0.2rem;
  font-size: 12px;
}

.author p:last-child span:last-child img {
  width: 0.2rem;
  height: 0.14rem;
  position: relative;
  top: -0.02rem;
}

.con_foot {
  margin-top: 0.2rem;
  width: 100%;
  height: 1.38rem;
  position: relative;
  padding: 0.2rem;
  background: #fff;
}

.con_foot .author_name {
  width: 5rem;
}

.instructions_show {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.instructions_show img {
  width: 100%;
}

.ft_last {
  font-size: 12px;
  color: #898989;
  margin-left: 0.2rem;
}

.foucs_btn {
  position: absolute;
  right: 0.2rem;
  top: 0.48rem;
}

.foucs_btn img {
  width: 1.2rem;
  height: 0.52rem;
}

.commentList {
  padding: 0.2rem;
  background: #fff;
  margin-top: 0.2rem;
}

.comment_li {
  width: 100%;
  float: left;
  padding: 0.2rem 0;
  border-bottom: 0.01rem solid #eee;
  position: relative;
}

.commentH {
  float: left;
  display: block;
  width: 17%;
}

.commentH img {
  width: 0.98rem;
  height: 0.98rem;
  object-fit: cover;
  border-radius: 50%;
}

.commentList .last_p {
  width: 100%;
  text-align: center;
  height: 0.6rem;
  line-height: 0.8rem;
  float: left;
  color: #c9caca;
}

.li_fr {
  float: left;
  width: 68%;
  position: relative;
}

.li_fr p {
  word-break: break-all;
}

.li_fr .time {
  color: #898989;
  font-size: 12px;
  margin-bottom: 0.2rem;
}

.reply {
  margin-top: 0.2rem;
  padding: 0.2rem;
  background-color: rgba(239, 239, 239, 1);
  font-size: 12px;
}

.reply em {
  color: #898989;
}

.note_null {
  height: 8.5rem;
  text-align: center;
  background: rgba(238, 238, 238, 1);
  padding-top: 1rem;
}

.note_null img {
  width: 4rem;
  height: 4.16rem;
  margin-bottom: 0.5rem;
}

.appreciate {
  width: 100%;
  /*height: 4.29rem;*/
  text-align: center;
  background: #fff;
  padding: 0.2rem;
  border-top: 0.01rem solid #eee;
}

.appreciate_ft {
  margin: 0.2rem 0;
  font-size: 12px;
  color: #999;
}

.appreciate .appreciate_title {
  font-size: 12px;
  display: table;
  padding-left: 0.2rem;
}

.appreciate .appreciate_title span {
  color: #999999;
}

.appreciate_name {
  font-size: 12px;
  margin-top: 0.2rem;
}

.appreciate>img {
  border-radius: 50%;
  width: 1.08rem;
  height: 1.08rem;
  margin-top: 0.3rem;
}

.appreciate li {
  float: left;
  width: 25%;
}

.appreciate ul {
  margin-top: 0.4rem;
}

.appreciate li span {
  display: block;
  width: 100%;
}

.appreciate li img {
  width: 1.32rem;
}

.appre_wind {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 0.2rem;
  border-top: 0.01rem solid #eee;
}

.appre_wind p {
  text-align: center;
  color: #c9caca;
  margin-top: 0.3rem;
}

.appre_wind .appre_wind_btn {
  width: 2.52rem;
  height: 0.52rem;
  text-align: center;
  background: #ffae00;
  color: #fff;
  line-height: 0.52rem;
  margin: 0.2rem auto;
  display: block;
  border-radius: 0.12rem;
}

.appre_pop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.appre_con {
  width: 5rem;
  height: 4.57rem;
  position: fixed;
  top: 2rem;
  left: 1.25rem;
  background: #fff;
  border-radius: 0.12rem;
  padding: 0.2rem;
  text-align: center;
}

.appre_con p {
  text-align: center;
  color: #595757;
  margin-bottom: 0.1rem;
}

.appre_con .appre_con_ft {
  color: #c9caca;
  font-size: 12px;
}

.close_btn {
  display: inline-block;
}

.close_btn img {
  width: 0.88rem;
  height: 0.88rem;
}

.appre_con li {
  float: left;
  width: 2rem;
  height: 1rem;
  border-radius: 0.12rem;
  color: #ffae00;
  border: 0.01rem solid #ffae00;
  line-height: 1rem;
  text-align: center;
  margin: 0.1rem 0.15rem;
}

.appre_con li:active {
  background: #ffae00;
  color: #fff;
}

.remnant {
  position: fixed;
  left: 0.2rem;
  top: 1rem;
  color: #999;
  font-size: 15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

#ofo {
  width: 100%;
  display: block;
}

#ofo img {
  width: 100%;
}

.ofo_btn {
  position: absolute;
  left: 0rem;
  bottom: -7.5rem;
  display: block;
  width: 100%;
  height: 2rem;
}

.fold {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5rem;
}

.fold02 {
  position: static;
  left: 0;
  bottom: 0rem;
  height: 0.5rem;
}

.fold02_f {
  position: fixed;
  left: 0;
  bottom: 0.88rem;
  height: 1rem;
  width: 100%;
  background: #fff;
}

.fold_show {
  display: block;
  width: 7.5rem;
  height: 1.5rem;
  background: url('../assets/images/fold_bg.png') no-repeat center center;
}

.fold_a {
  position: absolute;
  bottom: 0.2rem;
  left: 3.15rem;
  width: 1.2rem;
  height: 0.52rem;
  border: 0.01rem solid #ffae00;
  border-radius: 0.12rem;
  color: #ffae00;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 0.52rem;
}

.fold_hide {
  display: block;
  width: 7.5rem;
  height: 1rem;
  background: #fff;
}

.over {
  height: 10rem;
  overflow: hidden;
}
