/*团队liebiao teamList start*/

.servicePop_img {
  width: 6.52rem;
  height: 6.15rem;
}

#teamList {
  background: #f3f3f3;
}

[v-cloak] {
  display: none;
}

.team_event>ul {
  padding-bottom: 0.2rem;
}


/*.enent_li_a {
  display: inline-block;
}*/

.team_nav {
  height: 2rem;
  width: 100%;
  padding: 0 0.32rem;
  background: #fff;
}

.team_nav li {
  margin: 0.22rem 0.32rem;
  float: left;
  width: 1.64rem;
  height: 0.56rem;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 0.56rem;
}

.team_nav .on {
  background: #85adff;
  border: 1px solid #85adff;
  color: #fff;
  border-radius: 0.08rem;
}

.team_bar {
  margin-top: 0.2rem;
  height: 1.6rem;
  width: 100%;
  background: #fff;
}

.team_bar p {
  width: 100%;
  text-align: center;
  height: 0.68rem;
  line-height: 0.88rem;
  l
}

.team_bar_ul {
  width: 100%;
  height: 0.92rem;
  border-bottom: 0.01rem solid #ddd;
}

.team_bar_ul li {
  float: left;
  width: 33%;
  text-align: center;
  height: 0.92rem;
  line-height: 0.92rem;
  font-size: 16px;
  position: relative;
}

.team_bar_ul li:last-child i {
  display: none;
}

.team_bar_ul li .on {
  color: #85adff;
  border-bottom: 0.01rem solid #85adff;
}

.team_bar_ul .li_divider {
  position: absolute;
  right: 0;
  top: 0.35rem;
  height: 0.25rem;
  width: 0.01rem;
  border-right: 0.01rem solid #ddd;
  display: block;
}

.team_event {
  background: #fff;
  padding: 0.2rem 0.2rem 0 0.2rem;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
}

.team_event .enent_li {
  margin-top: 0.2rem;
  height: 0.82rem;
  width: 100%;
  padding-left: 0.2rem;
  box-sizing: border-box;
}

.team_event .head_icon {
  width: 0.82rem;
  height: 0.82rem;
  display: inline-block;
  float: left;
}

.team_event .head_icon img {
  width: 100%;
  height: 100%;
}

.event_banner {
  width: 100%;
  height: 3.67rem;
  display: block;
}

.event_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enent_li>p {
  margin-left: 0.2rem;
  float: left;
  height: 0.82rem;
  line-height: 0.82rem;
  width: 2.8rem;
}

.event_price {
  float: left;
  width: 2.3rem;
  margin-left: 0.76rem;
  background: url(../images/arrow.png) no-repeat 1.9rem center;
  background-size: 0.13rem 0.25rem;
}

.event_price span {
  width: 0.62rem;
  height: 0.3rem;
  display: inline-block;
  background: #85adff;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 0.3rem;
  border-radius: 0.04rem;
  font-weight: lighter;
}

.event_price span:last-child {
  background: #85adff;
}

.event_ft {
  margin-top: 0.2rem;
  width: 100%;
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  background: url(../images/drop_down.png) no-repeat 82% center;
  background-size: 0.27rem 0.27rem;
}

.event_ft_up {
  margin-top: 0.2rem;
  width: 100%;
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  background: url(../images/drop_up.png) no-repeat 58% center;
  background-size: 0.27rem 0.27rem;
}

.service {
  height: 0.88rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 15px;
  line-height: 0.88rem;
  text-align: center;
  background: rgba(71, 174, 223, 0.8);
}

.service span {
  width: 1.18rem;
  height: 1.18rem;
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
}

.service span img {
  width: 100%;
  height: 100%;
}

.home_black_overlay {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.servicePop {
  width: 6.52rem;
  height: 6.15rem;
  position: fixed;
  top: 3rem;
  left: 0.49rem;
  border-radius: 0.4rem;
}

.serverPop_img {
  width: 1.77rem;
  height: 1.77rem;
  position: absolute;
  left: 2.46rem;
  top: -1rem;
}

.serverPop_img img {
  width: 100%;
  height: 100%;
}

.input_phone {
  margin: 0 auto;
  width: 5.86rem;
  height: 0.84rem;
  margin-top: 1rem;
  display: block;
  border-radius: 0.06rem;
  background: #f3f3f3;
  color: #333;
  font-size: 14px;
  text-align: left;
  text-indent: 0.4rem;
}

.input_phone::-webkit-input-placeholder {
  text-indent: 0;
  text-align: center;
  font-size: 14px;
}

.input_verfivation::-webkit-input-placeholder {
  text-indent: 0;
  text-align: center;
  font-size: 14px;
}

.input_verfivation {
  text-indent: 0.4rem;
  margin-left: 0.42rem;
  width: 3.04rem;
  height: 0.84rem;
  margin-top: 0.2rem;
  display: inline-block;
  border-radius: 0.06rem;
  background: #f3f3f3;
  color: #333;
  font-size: 14px;
  text-align: left;
}

.service_btn {
  margin-left: 0.2rem;
  width: 2.6rem;
  height: 0.84rem;
  margin-top: 0.2rem;
  display: inline-block;
  border-radius: 0.06rem;
  background: #85adff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 0.84rem;
  vertical-align: middle;
}

.input_submit {
  margin: 0 auto;
  width: 4.6rem;
  height: 0.84rem;
  margin-top: 0.38rem;
  display: block;
  border-radius: 0.06rem;
  background: #85adff;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 0.84rem;
  vertical-align: middle;
}

.input_cancel {
  margin: 0 auto;
  width: 4.6rem;
  height: 0.84rem;
  margin-top: 0.2rem;
  display: block;
  border-radius: 0.06rem;
  background: #fff;
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: 0.84rem;
  vertical-align: middle;
}

.warning {
  background: #333;
  opacity: 0.9;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-align: center;
  font: 14px;
  color: #fff;
  padding: 0.4rem;
  z-index: 9999
}


/*团队liebiao teamList end*/


/***********************          通用基础        *****************************/

a, img, button, input, textarea, div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  /*清除ios默认的点击时产生的高亮区块   rgba(0,0,0,0)*/
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  /*定义盒子模型定义的宽度从边框计算*/
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  /*overflow-x: hidden;*/
  /*overflow: hidden;
  overflow-y: auto;*/
}

body {
  font-family: "Microsoft YaHei", "sans-serif";
  font-size: 14px;
  /*line-height: 1;*/
  line-height: normal;
  color: #333;
  position: relative;
  background: #fff;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input, textarea {
  border: 0;
  outline: none;
  resize: none;
  /*清楚ios浏览器默认的样式*/
  -webkit-appearance: none;
}

img {
  vertical-align: middle;
  /*清除3px的bug*/
  border: 0;
}

.clearfix::after, .clearfix::before {
  clear: both;
  content: '.';
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
}

fieldset, img, input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}


/*防止拖动*/

img {
  border: 0;
  vertical-align: middle;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}
